<div class="w-full relative">

    <div class="absolute top-0 left-0 w-full h-dvh flex flex-col">

        <!-- Social icons -->
        <div class="bg-black w-full p-2 flex justify-end gap-4 pr-10">

            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="white"
                    d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23" />
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="white"
                    d="m10 15l5.19-3L10 9zm11.56-7.83c.13.47.22 1.1.28 1.9c.07.8.1 1.49.1 2.09L22 12c0 2.19-.16 3.8-.44 4.83c-.25.9-.83 1.48-1.73 1.73c-.47.13-1.33.22-2.65.28c-1.3.07-2.49.1-3.59.1L12 19c-4.19 0-6.8-.16-7.83-.44c-.9-.25-1.48-.83-1.73-1.73c-.13-.47-.22-1.1-.28-1.9c-.07-.8-.1-1.49-.1-2.09L2 12c0-2.19.16-3.8.44-4.83c.25-.9.83-1.48 1.73-1.73c.47-.13 1.33-.22 2.65-.28c1.3-.07 2.49-.1 3.59-.1L12 5c4.19 0 6.8.16 7.83.44c.9.25 1.48.83 1.73 1.73" />
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="white"
                    d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3" />
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="white"
                    d="M12 2.04c-5.5 0-10 4.49-10 10.02c0 5 3.66 9.15 8.44 9.9v-7H7.9v-2.9h2.54V9.85c0-2.51 1.49-3.89 3.78-3.89c1.09 0 2.23.19 2.23.19v2.47h-1.26c-1.24 0-1.63.77-1.63 1.56v1.88h2.78l-.45 2.9h-2.33v7a10 10 0 0 0 8.44-9.9c0-5.53-4.5-10.02-10-10.02" />
            </svg>



        </div>

        <!-- navBar -->
        <div class="bg-[#020303] bg-opacity-40 w-full hidden lg:flex justify-center text-white p-10 gap-5 text-lg">

            <div *ngFor="let item of navItems">
                <div>
                    {{ item.title }}
                </div>
            </div>
        </div>

        <div
            class="flex-1 flex flex-col justify-center items-center  gap-5 text-white text-center font-medium text-2xl px-[10%]">
            <div class="lg:text-3xl text-2xl text-[#1e1c55] font-medium">
                BIENVENUE A TADD-ART
            </div>
            <div>
                Conception Architecture 100% Marocaine
            </div>
            <div class="lg:text-xl text-xl">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quos inventore dolorem illo, repellendus
                consequatur maiores, magni veritatis corporis necessitatibus repudiandae dolores officia temporibus
                molestiae expedita animi sapiente enim dicta.
            </div>
        </div>

    </div>

    <div>
        <img class="w-full h-dvh" src="./assets/images/Casablanca-Mosque.jpg">
    </div>

    <div class="flex flex-col items-center px-[10%] p-10 gap-3 text-center text-xl">

        <div class="text-gray-500 font-medium">
            A PROPOS
        </div>
        <div class="font-bold text-2xl">
            Qui sommes nous?
        </div>
        <div class="text-gray-500 font-normal">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe commodi at sit, officia corporis est id
            error maxime. Nam repellat sit repellendus sequi soluta fugit error voluptates reiciendis ex ducimus?
        </div>
        <div class="bg-[#7CBF43] w-44 py-2 font-bold text-lg">
            EN SAVOIR
        </div>
        <div class="text-gray-500 text-lg mt-10">
            NOTRE PROJECT TADD-ART
        </div>
        <div class="font-bold text-2xl">
            UNE MAISON A PLUSIEURS VOCATIONS
        </div>

    </div>


    <!-- carousel.component.html -->
    <div class="relative overflow-hidden" *ngIf="items.length > 0">
        <div class="flex max-h-[600px] transition-transform duration-500"
            [ngClass]="currentIndex === 0 || currentIndex ===  items.length - 1 ? 'w-[90%]' : 'w-[80%]'"
            [style.transform]="'translateX(calc(-' + currentIndex * 100 + '% ' + (currentIndex > 0 ? '+ 12.5%' : '') + '))'">
            <div *ngFor="let item of items; let i = index" class="flex-none w-full p-2 relative">
                <img [src]="item.imageUrl" alt="" class="block w-full">
                <div class="absolute top-0 left-0 p-2 h-full w-full">
                    <div class="flex flex-col justify-end gap-5  p-[5%] h-full w-full">
                        <div class="text-2xl text-white font-medium w-full">
                            <span class="lg:flex hidden">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iure tempora vero,
                                nostrum autem neque atque odio temporibus expedita mollitia aliquid accusantium
                                laboriosam
                                adipisci saepe porro iusto corrupti provident ex.
                            </span>
                            <span class="text-xl lg:hidden flex ">
                                Lorem ipsum
                            </span>
                        </div>
                        <div class="text-lg text-gray-400 font-normal">
                            <span class="lg:flex hidden">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iure tempora vero,
                                nostrum autem neque atque odio temporibus expedita mollitia aliquid accusantium
                                laboriosam
                                adipisci saepe porro iusto corrupti provident ex.
                            </span>
                            <span class="text-xl lg:hidden flex">
                                Lorem ipsum dolor
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button *ngIf="currentIndex !== 0" class="absolute w-[calc(10%-8px)] h-full top-0 left-0  text-white py-2 px-4
        hover:bg-gray-800 hover:bg-opacity-10 text-transparent hover:text-white" (click)="prev()">Prev</button>
        <button *ngIf="currentIndex !== items.length" class="absolute w-[calc(10%-8px)] h-full top-0 right-0  text-white py-2 px-4
            hover:bg-gray-800 hover:bg-opacity-10 text-transparent hover:text-white" (click)="next()">Next</button>
    </div>

    <div class="flex lg:flex-row flex-col gap-5 px-[5%]">

        <div #div1 class="flex-1  py-10">
            <div class="text-gray-400 text-xl font-medium">
                AVANTAGES
            </div>
            <div class="text-3xl font-bold">
                Nos Objectifs
            </div>
            <div class="text-gray-400 text-lg font-normal py-4">
                La conception de la maison tadart sera developée pour repondre a cinq objectifs principaux :
            </div>

            <div class="flex gap-5 py-10">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23" />
                    </svg>
                </div>
                <div>
                    <div class="text-lg font-bold">
                        Centre de recherche
                    </div>
                    <div class="text-gray-400 text-lg font-normal ">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, ex sed! Molestiae tempora
                        delectus culpa illum. Possimus, praesentium officia perspiciatis iure esse unde sed, quae odio,
                        nesciunt ipsam repudiandae non.
                    </div>
                </div>
            </div>

            <div class="flex gap-5 py-10">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23" />
                    </svg>
                </div>
                <div>
                    <div class="text-lg font-bold">
                        Design architectural
                    </div>
                    <div class="text-gray-400 text-lg font-normal ">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, ex sed! Molestiae tempora
                        delectus culpa illum. Possimus, praesentium officia perspiciatis iure esse unde sed, quae odio,
                        nesciunt ipsam repudiandae non.
                    </div>
                </div>
            </div>

        </div>

        <div class="flex-1" [style.max-height.px]="div1.offsetHeight">
            <img style="max-height: 100%;" src="./assets/images/fake_1.png">
        </div>

    </div>

    <div class="flex lg:flex-row flex-col gap-5 px-[5%]">


        <div class="flex-1" [style.max-height.px]="div2.offsetHeight">
            <img style="max-height: 100%;" src="./assets/images/fake_1.png">
        </div>

        <div #div2 class="flex-1  py-10">
            <div class="flex gap-5 py-10">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23" />
                    </svg>
                </div>
                <div>
                    <div class="text-lg font-bold">
                        Centre de recherche
                    </div>
                    <div class="text-gray-400 text-lg font-normal ">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, ex sed! Molestiae tempora
                        delectus culpa illum. Possimus, praesentium officia perspiciatis iure esse unde sed, quae odio,
                        nesciunt ipsam repudiandae non.
                    </div>
                </div>
            </div>

            <div class="flex gap-5 py-10">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23" />
                    </svg>
                </div>
                <div>
                    <div class="text-lg font-bold">
                        Design architectural
                    </div>
                    <div class="text-gray-400 text-lg font-normal ">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, ex sed! Molestiae tempora
                        delectus culpa illum. Possimus, praesentium officia perspiciatis iure esse unde sed, quae odio,
                        nesciunt ipsam repudiandae non.
                    </div>
                </div>
            </div>

            <div class="flex gap-5 py-10">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23" />
                    </svg>
                </div>
                <div>
                    <div class="text-lg font-bold">
                        Design architectural
                    </div>
                    <div class="text-gray-400 text-lg font-normal ">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, ex sed! Molestiae tempora
                        delectus culpa illum. Possimus, praesentium officia perspiciatis iure esse unde sed, quae odio,
                        nesciunt ipsam repudiandae non.
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="h-96">
    </div>

</div>